b
<section class="bg-black">
    <div class="flex flex-col items-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex gap-2 items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
        <img src="https://w7.pngwing.com/pngs/977/162/png-transparent-video-game-game-controllers-gaming-miscellaneous-game-logo-thumbnail.png"
           alt="logo"  class="w-[50px] rounded-[58px]" />
            <span><b>Game</b><b class="text-red-500">Center</b></span>
        </a>
        <div
            class="w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-between">
                <button (click)="login(false)" class="py-2 font-medium text-white  w-[100%] bg-gray-500">Login</button>
                <button (click)="login(true)" class="py-2 font-medium text-white w-[100%] bg-gray-500">Register</button>
            </div>
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            
                <form #userForm="ngForm" (ngSubmit)="submitForm()" class="space-y-4 md:space-y-6" action="#">
                    <div *ngIf="formState === true" class="flex gap-5"> 
                        <div>
                            <label for="firstname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                First Name</label>
                            <input type="text" 
                                [(ngModel)]="user.firstname"
                                #fname="ngModel"
                                name="firstname"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="First Name" required minlength="3">
                            <div class="text-[12px] text-red-500"
                                *ngIf="fname.errors?.['required']">
                                First name is required
                            </div>
                            <div class="text-[12px] text-red-500"
                                *ngIf="fname.errors?.['minlength']">
                                First name minimum 3 characters
                            </div>
                        
                        </div>
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                Last Name</label>
                            <input type="text" 
                                [(ngModel)]="user.lastname" name="lastname"
                                #lname="ngModel"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Last Name" required>
                                <div class="text-[12px] text-red-500" *ngIf="lname.errors?.['required']">
                                    Last name is required
                                </div>
                                <div class="text-[12px] text-red-500" *ngIf="lname.errors?.['minlength']">
                                    Last name minimum 3 characters
                                </div>
                        </div>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            email</label>
                        <input type="email" name="email" id="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="name@company.com" 
                            required email
                            [(ngModel)]="user.email"
                            #nameField="ngModel" 
                        >
                        <div class="text-[12px] text-red-500" *ngIf="(nameField.touched || nameField.dirty) && nameField.invalid && nameField.errors?.['required']">
                            Email is required
                        </div>   
                        <div class="text-[12px] text-red-500"
                            *ngIf="(nameField.touched || nameField.dirty) && nameField.invalid && nameField.errors?.['email']">
                            Please enter an email address
                        </div>
                    </div>
                    <div>
                        <label for="password"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••"
                            [(ngModel)]="user.password"
                            required minlength="6"
                            #passwordField="ngModel" 
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            >
                                <div class="text-[12px] text-red-500"
                                    *ngIf="(passwordField.touched || passwordField.dirty) && passwordField.invalid && passwordField.errors?.['required']">
                                    Password is required
                                </div>
                                <div class="text-[12px] text-red-500"
                                    *ngIf="(passwordField.touched || passwordField.dirty) && passwordField.invalid && passwordField.errors?.['minlength']">
                                    Password minimum 8 characters
                                </div>
                    </div>
                
                    <div *ngIf="errorserver" class="text-[12px] text-red-500 text-center">
                        {{errorserver}}
                    </div>
                    <button type="submit" [disabled]="userForm.invalid"
                        class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-primary-600 bg-primary-700 focus:ring-primary-800">
                        {{formState ?  "Create An Account" : "Login"}}</button>
                
                </form>
            </div>
        </div>
    </div>
</section>